$primary: #f7f8fa;
$secondary: #2c3e50;

$white: #ffffff;
$gray: #f0f1f3;
$red: #ff6348;
$yellow: #fbc531;
$green: #2ed573;
$blue: #3742fa;
$purple: #643fdb;

$barlow: 'Barlow', monospace;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $white;
  color: $secondary;
  font-family: 'Barlow', monospace;
  font-size: 1em;
}

body {
  background-color: $primary;
}

.section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
